.maincard{
    width: 100%;
}
.active{
    background: white;
}
.appoinment{
    width: 100%;

}
.navheight{
    height: 100vh;
}

.gridwidth{
  width: 136%;
  height: 80%;
}

.scrooling{
  height: 62%;
}

.scrooling::-webkit-scrollbar {
  width: 10px;
 
}


/* Track */
.scrooling::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrooling::-webkit-scrollbar-thumb {
 background: gray;  /* fallback for old browsers */

  border-radius: 10px;
}
